/* big tablet 1024px to 1200px */
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%;}
}


/*tablet 768 to 1023 */
@media only screen and (max-width:1023px){
    body {font-size: 18px;}
    section {padding: 60px 0;}
    .section-features .long-copy {
        width: 80%;
        margin-left: 10%;
        
    }
    
    .section-steps .steps-box {margin-top: 10px;}
    .works-step {margin-bottom:40px ;}
    .works-step:last-of-type{margin-bottom: 60px;}
    .section-step .steps-box:last-child {margin-top: 10px;}
    .app-screen {width:50%;}
    .city-feature i { 
        width: 18px;
        margin-right: 10px;
    }
    .city-feature {font-size: 90%;}
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    .plan-box ul li {font-size: 90%;}
    .plan-price {font-size: 250%;}

    .section-form .contact-form {width: 80%;}
}

/* small phones to small tablet 481px to 767px */
@media only screen and (max-width:767px){
    body {font-size: 16px;}
    section {padding: 30px 0};

    .rox, .hero-text-box { padding: 0 4%;}
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link, .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    .main-nav {display: none;}
    .mobile-nav-icon {display: inline-block;}

    .sticky .main-nav {
        margin-top: 10px;
    }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon { margin-top: 10px;}


    .hero-text-box h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    .section-features .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .btn-app {margin-left: 5%;}
    .section-steps .steps-box:last-child { margin-top: 10px; padding-left: 0px;}
    .section-steps .steps-box:first-child{
        text-align: center;
    }
    .app-screen {width:40%;}
    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
    .works-step {margin-bottom:20px ;}
    .works-step:last-of-type {margin-bottom: 20px;}
    .section-testimonials cite {margin-top: 5px;}
    .plan-box ul li {font-size: 120%;}
    .section-meals .meals-showcase li {width: 50%;}

    .social-links {float: none;}
}

/* small phones 0 to 480px */
@media only screen and (max-width: 480px){
    section {padding: 20px 0;}
    .section-form .contact-form {width: 100%;}
    .section-meals .meals-showcase li {width: 100%;}
    .section-meals .meals-showcase .meal-photo {
        background-color: unset;
    }
    .meal-photo img {
        opacity: 1;
        transform: scale(1);
        display: block;
    
    }
    .social-links {float: none;}
}